* {
    font-family: Calibri;
    letter-spacing: 0.3px;
}
.bg_container {
    background-color: rgba(136, 77, 160, 0.226);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: -1;
    opacity: 0.7;
} 
.bg_container2 {
    background-color: rgba(22, 3, 51, 0.685);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: -1;
    opacity: 0.7;
}
.container {
    width: 600px;
    padding: 10px 25px 25px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.294);
    margin: 40px auto;
    text-align: center;
    z-index: 2;
    
}   
.user_info p {
    text-align: left;
}
table {
    margin: auto;
}
table td:nth-child(3) img {
    cursor: pointer;
    height: 15px;
    opacity: 0.4;
    text-align: left;
}
table td:nth-child(1) img {
    cursor: pointer;
    height: 25px;
    opacity: 0.4;
    text-align: left;
    vertical-align: middle;
    margin: auto;
}
table td:nth-child(1) {
    padding-top: 10px;
    vertical-align: middle;
    margin: auto;
}
td {
    padding: 5px 20px;
}
.add {
    width: 250px;
    position: fixed;
    bottom: -250px;
    right: 50px;
    background-color: rgba(240, 230, 140, 0.39);
    text-align: center;
    padding: 5px 0px 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.294);
    transition: box-shadow .2s;
}

.add:hover {
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.287), 0 0 4px rgba(54, 54, 54, 0.15);

}
.add input {
    border: 0px;
    box-shadow: 0 0 8px rgba(54, 54, 54, 0.294);
    border-radius: 5px;
    height: 20px;
    width: 70%;
    transition: box-shadow .2s;
}
.add input:hover {
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.452), 0 0 4px rgba(54, 54, 54, 0.479);

}


.but {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  outline: transparent;
  padding: 4px 18px;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.but:focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.but:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.but:active {
    transform: scale(0.98);
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(154, 81, 172, 0.548);
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.close:hover {
    cursor: pointer;
}
.plus {
    position: fixed;
    bottom: 60px;
    right: 145px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.294);
    transition: box-shadow 0.25s, transform 0.1s;
}
.plus:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.plus:active {
    transform: scale(0.96);
}
.plus:focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.plus h1 {
    color: rgba(255, 255, 255, 0.87);
    font-size: 40px;
}
.succ {
    width: 250px;
    display: inline-flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    position: fixed;
    bottom: 240px;
    right: 50px;
    background-color: rgba(240, 230, 140, 0.39);
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.294);
    transition: box-shadow .2s;
}
.succ img {
    height: 27px;
}
.bg-wh {
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: rgba(158, 209, 209, 0.281);
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.294);
    margin: 120px auto;
    text-align: center;
    padding: 25px 30px;
    height: 650px;
    width: 26%;
    z-index: 1;
}
.bg-wh h1 {
    color: rgb(44, 44, 44);
    margin-bottom: 40px;
}
.bg-wh h4 {
    color: rgba(44, 44, 44, 0.657);
}
.bg-wh input {
    width: 220px;
    margin: 0px auto;
    border: 0px;
    box-shadow: 0 0 8px rgba(54, 54, 54, 0.294);
    border-radius: 5px;
    height: 40px;
    transition: box-shadow .2s;
}

.bg-wh input:hover {
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.452), 0 0 4px rgba(54, 54, 54, 0.479);
}

.bg-wh button {
  margin: 90px auto 70px;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 3px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bg-wh button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.bg-wh button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
.bg-wh button:active {
    transform: scale(1.01);
}
.circle {
    opacity: 0.7;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 120px 39%;
    text-align: center;
    padding: 0px;
}
.circle img {
    width: 20%;
    margin: 40%;
}

.ex {
    position: fixed;
    top: 40px;
    right: 40px;
    opacity: 0.55;
}
.ex img {
    width: 40px;
    cursor: pointer;
}

.theme {
    position: fixed;
    top: 40px;
    left: 40px;
    opacity: 0.3;
}
.theme img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s;
}
.theme img:hover {
    transform: scale(1.02);

}
.theme img:active {
    transform: scale(0.98);
}
