<div class="bg_container" *ngIf="dark"></div>
<div class="bg_container2" *ngIf="!dark"></div>
<div class="container" [@changeWindow]="secondWind">
  <h2>Profile info</h2>
  <div id="img">
    <img src="assets/images/1.png" alt="" />
  </div>
  <div class="user_info">
    <h3>
      {{ userName }} {{ userLastName }} <br />
      {{ userAge | yearsTo: "months" }}
    </h3>
    <p>
      {{ userInfo1 }}
    </p>
    <p>
      {{ userInfo2 }}
    </p>
  </div>
  <div class="sert">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Identificator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ident" [@slideInOut]>
          <td><img src="assets/images/6.png" alt="" srcset="" /></td>
          <td>{{ item.item }}</td>
          <td (mouseup)="removeFromList(item)">
            <img src="assets/images/4.png" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="add" [@appear]="clickAppear">
  <div class="close" (mouseup)="changeIcons()">x</div>
  <h2>New sertificate?</h2>
  <input type="text" name="ngModel" [(ngModel)]="newId" />
  <button class="but" role="button" (mouseup)="addItem(newId)">
    Add new item
  </button>
</div>
<div class="plus" (mouseup)="changeIcons()" [@clickPlus]="clickPlus">
  <h1>+</h1>
</div>
<div class="succ" [@succ]="startSucc">
  <h2>Successful!</h2>
  <img src="assets/images/2.png" alt="" />
</div>
<div class="succ" [@unSucc]="unSucc">
  <h3>Can`t be empty</h3>
  <img src="assets/images/3.png" alt="" />
</div>
<div class="bg-wh" [@changeWindow]="mainWind">
  <h1>Sing in</h1>
  <h4>Write your first name</h4>
  <input type="text" name="ngModel" [(ngModel)]="logName" />
  <h4>Write your second name</h4>
  <input type="text" name="ngModel" [(ngModel)]="logSecName" />
  <h4>Write your age</h4>
  <input type="number" name="ngModel" [(ngModel)]="userAge" />
  <h4>Password</h4>
  <input type="password" name="ngModel" [(ngModel)]="passWord" />
  <button
    class="button-71"
    role="button"
    (mouseup)="addNames(logName, logSecName, userAge, passWord)"
  >
    Go
  </button>
</div>
<div class="circle" [@loading]="load" [@changeWindow]="loadWind">
  <img src="assets/images/5.png" alt="" />
</div>
<div class="ex">
  <img src="assets/images/7.png" alt="" [@exAppear]="exit" (mouseup)="rel()" />
</div>
<div class="theme"><img src="{{darkIconSwitch}}" alt="" (mouseup)="darkLight()"/></div>

<!-- <router-outlet></router-outlet> -->
